img{max-width:100%;height:auto}.sticky{background:#FFF}.alignnone{margin:5px
20px 20px 0}.aligncenter,div.aligncenter{display:block;margin:5px
auto 5px auto}.alignright{float:right;margin:5px
0 20px 20px}.alignleft{float:left;margin:5px
20px 20px 0}a
img.alignright{float:right;margin:5px
0 20px 20px}a
img.alignnone{margin:5px
20px 20px 0}a
img.alignleft{float:left;margin:5px
20px 20px 0}a
img.aligncenter{display:block;margin-left:0;margin-right:0}.wp-caption{background:#fff;color:#333;max-width:100%}.wp-caption.alignnone{margin:5px
20px 20px 0}.wp-caption.alignleft{margin:5px
20px 20px 0}.wp-caption.alignright{margin:5px
0 20px 20px}.wp-caption
img{border:0
none;height:auto;margin:0;padding:0;width:auto}.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0
4px 5px}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important;height:1px;width:1px;overflow:hidden}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.6);clip:auto !important;color:#21759b;display:block;font-size:14px;font-size:0.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px
23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.gallery-caption,.bypostauthor{font-style:italic;font-size:12px;color:#757575}.gallery .gallery-item{float:left;margin:0
4px 4px 0;overflow:hidden;padding:0;position:relative}.gallery-columns-1 .gallery-item{max-width:100%;width:auto}.gallery-columns-2 .gallery-item{max-width:48%;max-width:-webkit-calc(50% - 14px);max-width:calc(50% - 14px);width:auto}.gallery-columns-3 .gallery-item{max-width:32%;max-width:-webkit-calc(33.3% - 11px);max-width:calc(33.3% - 11px);width:auto}.gallery-columns-4 .gallery-item{max-width:23%;max-width:-webkit-calc(25% - 9px);max-width:calc(25% - 9px);width:auto}.gallery-columns-5 .gallery-item{max-width:19%;max-width:-webkit-calc(20% - 8px);max-width:calc(20% - 8px);width:auto}.gallery-columns-6 .gallery-item{max-width:15%;max-width:-webkit-calc(16.7% - 7px);max-width:calc(16.7% - 7px);width:auto}.gallery-columns-7 .gallery-item{max-width:13%;max-width:-webkit-calc(14.28% - 7px);max-width:calc(14.28% - 7px);width:auto}.gallery-columns-8 .gallery-item{max-width:11%;max-width:-webkit-calc(12.5% - 6px);max-width:calc(12.5% - 6px);width:auto}.gallery-columns-9 .gallery-item{max-width:9%;max-width:-webkit-calc(11.1% - 6px);max-width:calc(11.1% - 6px);width:auto}.gallery-columns-1 .gallery-item:nth-of-type(1n),.gallery-columns-2 .gallery-item:nth-of-type(2n),.gallery-columns-3 .gallery-item:nth-of-type(3n),.gallery-columns-4 .gallery-item:nth-of-type(4n),.gallery-columns-5 .gallery-item:nth-of-type(5n),.gallery-columns-6 .gallery-item:nth-of-type(6n),.gallery-columns-7 .gallery-item:nth-of-type(7n),.gallery-columns-8 .gallery-item:nth-of-type(8n),.gallery-columns-9 .gallery-item:nth-of-type(9n){margin-right:0}.gallery .gallery-caption{background-color:rgba(0,0,0,.7);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;font-size:12px;line-height:1.5;margin:0;max-height:50%;opacity:0;padding:6px
8px;position:absolute;bottom:0;left:0;text-align:left;width:100%}.gallery .gallery-caption:before{content:"";height:100%;min-height:49px;position:absolute;top:0;left:0;width:100%}.gallery-item:hover .gallery-caption{opacity:1}.gallery-columns-7 .gallery-caption,.gallery-columns-8 .gallery-caption,.gallery-columns-9 .gallery-caption{display:none}.gallery-columns-2 .gallery-item:nth-child(odd),.gallery-columns-3 .gallery-item:nth-child(3n+1),.gallery-columns-4 .gallery-item:nth-child(4n+1),.gallery-columns-5 .gallery-item:nth-child(5n+1),.gallery-columns-6 .gallery-item:nth-child(6n+1),.gallery-columns-7 .gallery-item:nth-child(7n+1),.gallery-columns-8 .gallery-item:nth-child(8n+1),.gallery-columns-9 .gallery-item:nth-child(9n+1){clear:both}